<!doctype html>
<html lang="ja">
  <head>
    <title>純資産管理 | FAM (Finantial Management)</title>
  </head>
  <body>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">資産種類</th>
          <th scope="col">資産名称</th>
        </tr>
      </thead>
      <tbody>
         <% @assets.each do |h| %>
          <tr>
            <th scope="row"><%= h.id %></th>
              <td><%= h.asset_type %></td>
              <td><%= h.name %></td>
          </tr>
        <% end %>
      </tbody>
    </table>    
  </body>
</html>